#!/bin/sh

export REACT_APP_DEV_PRD_URL=http://localhost/gateway

export COOG_URL=http://localhost:8000
export COOG_DB_NAME=demo_master

# URL of this application
export COOG_GATEWAY_URL=http://localhost:3600
export COOG_GATEWAY_PORT=3600
export BASE_PATH=/gateway

# CORS WHITELIST
# WHITELIST=

# MongoDB server
# MONGO_HOST=localhost
# MONGO_PORT=27017
# Name of the mongoDB database
# MONGO_DB_NAME=coog-api-V2
# MONGO_USER=
# MONGO_PASSWORD=

export JWT_ENCRYPTION=secret
export JWT_INTERNAL_ENCRYPTION=secret
export JWT_EXPIRATION=3600

export COOG_WEB_TOKEN=456789123
#export COOG_WEB_TOKEN=e2176b10ae1c1d387b9895ecebf7f6ae162545e6b602013a
#export COOG_WEB_TOKEN=0736179e7b51aa1a8fa6ce789ae20e0805faa2b8048e2947

export WHITELIST=http://localhost:8000
export COOG_PORTAL_URL=http://localhost:4000
export COOG_API_URL=http://localhost:3000
export COOG_API_B2C_URL=http://localhost:3004
export COOG_API_URL_V2=http://localhost:3005
export COOG_API_B2B_CONFIG_URL=http://localhost:3009
export COOG_API_IDENTITY_MANAGER_URL=http://localhost:3006/

export COOG_API_IDENTITY_PORT=3006
export COOG_API_V2_PORT=3005
export COOG_API_B2B_CONFIG_PORT=3009

export COOG_MODULE=true
export COOG_TOKEN_MODULE=true

export NODE_ENV=development

export COOG_WEB_TOKEN=76600ced5ee349d767a0fd838886ab354de929bf991294d0
export COOG_DOCUMENT_TOKEN_SECRET=verysecretstuff_no_one_shall_know_about
